<html lang="en">
    <head>
        <title>Blood Bank</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h4 class="c1"> Delete product</h4>
        <form action="/deleteitem" method="POST">

            <label>id</label>&nbsp;
            <input type="text" placeholder="Enter id" name="id"><br><br>


            <button id="submit">Delete</button>

            
        </form>
        <a href="/" class="c2">Home Page</a>
    </body>
</html>